[Unit]
Description=Caddy reverse proxy for SemaphoreUI
Documentation=https://caddyserver.com/docs/
After=network-online.target semaphore.service
Wants=network-online.target
Requires=semaphore.service
ConditionPathExists={{ semaphore_caddy_bin_path }}
ConditionPathExists={{ semaphore_caddy_config_file }}

[Service]
Type=simple
User=caddy
Group=caddy
ExecStart={{ semaphore_caddy_bin_path }} run --environ --config {{ semaphore_caddy_config_file }}
ExecReload={{ semaphore_caddy_bin_path }} reload --config {{ semaphore_caddy_config_file }}
EnvironmentFile=-/etc/caddy/caddy.env
Restart=on-failure
RestartSec=5s
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
